/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
} */

.myH1{
    font-size: 50px;
    border: 3px solid black;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    border: 5px solid;
    border-radius: 50px;
    background-color: #6A5485;
    padding: 30px;
    margin-bottom: 50px;
}

.display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color:white;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}

.controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    min-width: 125px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.startBtn{
    background-color: rgb(63, 205, 63);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color ease 0.5s;
}

.startBtn:hover{
    background-color: rgb(56, 182, 56);
}

.startBtn:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Smaller shadow to simulate 'pressed' effect */
    transform: translateY(1px); /* Moves the button down to create 'pressed' effect */
}


.stopBtn{
    background-color: rgb(223, 42, 42);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color linear 0.2s;
}
.stopBtn:hover{
    background-color: rgb(200, 38, 38);
}

.stopBtn:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Smaller shadow to simulate 'pressed' effect */
    transform: translateY(1px); /* Moves the button down to create 'pressed' effect */
}


.resetBtn{
    background-color: rgb(0, 145, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color linear 0.2s;
}
.resetBtn:hover{
    background-color: rgb(2, 125, 219);
}

.resetBtn:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Smaller shadow to simulate 'pressed' effect */
    transform: translateY(1px); /* Moves the button down to create 'pressed' effect */
}